@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Secular+One&family=Zilla+Slab:wght@300&display=swap');

:root {
  --default-blue: #316B83;
  --default-grey: #6D8299;
  --default-green: #8CA1A5;
  --default-peach: #D5BFBF;
}

.default-blue {
    background-color: var(--default-blue);
}

.default-grey {
    background-color: var(--default-grey);
}

.default-green {
    background-color: var(--default-green)
}

.default-peach {
    background-color: var(--default-peach)
}

h1 {
    font-family: 'Secular One', sans-serif;
    color: whitesmoke;
    padding-top: 24px;
}

.secular {
    font-family: 'Secular One', sans-serif;
}

.zilla {
    font-family: 'Zilla Slab, serif';
}

.merriweather {
  font-family: 'Merriweather', serif
}

.card-img {
    height: 15vw;
    width: auto;
    object-fit:contain;
}

.card {
  max-width: 300px;
}

.img-border {
  border: 1px solid black;
}

p {
  font-family: 'Merriweather', serif;
}


.corner-ribbon{
    width: 200px;
    background: #e43;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 1;
    position: fixed;
  }

  .box {
    width: 200px;
    height: 300px;
    position: relative;
    border: 1px solid #bbb;
    background: #eee;
    float: left;
    margin: 20px;
  }
  .ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 93px;
    height: 93px;
    text-align: right;
  }
  .ribbon span {
    font-size: 0.8rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 32px;
    transform: rotate(45deg);
    width: 125px;
    display: block;
    background: #79a70a;
    background: linear-gradient(#9bc90d 0%, #79a70a 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 17px;
    right: -29px;
  }
  
  .ribbon span::before {
     content: '';
     position: absolute; 
     left: 0px; top: 100%;
     z-index: -1;
     border-left: 3px solid #79A70A;
     border-right: 3px solid transparent;
     border-bottom: 3px solid transparent;
     border-top: 3px solid #79A70A;
  }
  .ribbon span::after {
     content: '';
     position: absolute; 
     right: 0%; top: 100%;
     z-index: -1;
     border-right: 3px solid #79A70A;
     border-left: 3px solid transparent;
     border-bottom: 3px solid transparent;
     border-top: 3px solid #79A70A;
  }
  
  .red span {
    background: linear-gradient(#f70505 0%, #8f0808 100%);
  }
  .red span::before {
    border-left-color: #8f0808;
    border-top-color: #8f0808;
  }
  .red span::after {
    border-right-color: #8f0808;
    border-top-color: #8f0808;
  }
  
  .blue span {
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
  }
  .blue span::before {
    border-left-color: #1e5799;
    border-top-color: #1e5799;
  }
  .blue span::after {
    border-right-color: #1e5799;
    border-top-color: #1e5799;
  }
  
  .foo {
    clear: both;
  }
  
  .bar {
    content: "";
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79a70a;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79a70a;
  }
  
  .baz {
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 2em;
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79a70a;
    background: linear-gradient(#9bc90d 0%, #79a70a 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 100px;
    left: 1000px;
  }
  
  